.layout-fluid #header .pad { padding-left: 0;}



.layout-fluid #header .pad { width: 95%; margin: 0 auto !important; }

.layout-fluid #header #info { right: 0; }

#nav li.hover  .sub_nav li a
{
	margin: 0 0 1em !important;
}	

.sub_nav h3 { font-size: 14px; font-weight: bold; margin: .25em 0 1em 0; }

.sub_nav ul,
.sub_nav li { margin-top: 0 !important; }